@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    border: 1px solid #fff;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 0;
}
.btn:hover{
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
}
p{
    color: #fff;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #000;
    scroll-behavior: smooth;
}
#nav{
    margin-bottom: 0;
    position: fixed;
    z-index: 1;
}
nav{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .6s;
    padding: 5px 100px;
}

.jumbotron{
    position: relative;
    margin-bottom:0;
    background-color: transparent;
    margin-top: 3rem;
}
.jumbotron h1{
    font-weight: 600;
    margin: .5rem 0;
}
.jumbotron p{
    width: 60%;
    font-size: 14px;
    font-weight: 400;
}

#tracks{
    margin-top: 5rem;
}
#wrapper {
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 5rem;
}
#carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
#prev,
#next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}
#prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
}
#next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}
#content {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}
.track{
    height: 380px;
    width: 250px;
    color: #fff;
}
.track .img{
    height: 50%;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
}
.track .img img{
    width: 70%;
}
.track .details{
    padding-left: 1rem;
    padding-top: 1rem;
    width: 100%;
    height: 35%;
    color: #000;
    background-color:#fff;
}

.details h4{
   font-size: 19px;
   font-weight: 600;
}
.details h6{
    font-size: 14px;
    font-weight: 400;
}
.details p{
    color: #000;
    font-size: 13px;
}
.details p img{
    width: 20px;
    margin-right: .5rem;
}
.details span{
    font-weight: 700;
    font-size: 10px;
    position: relative;
    top: -10px;
}

#drivers{
    width:100%;
    height:50%;
    display:flex;
}
.team-driver{
    text-align: center;
}
.team-driver h1{
    color: transparent;
    font-size: 3rem;
    font-weight: 700;
    -webkit-text-stroke: 1px #fff;
} 
.space .jumbotron{
    margin-top: 0;
}
.driver-1{
    width:50%;
    height:100%;
    text-align:center;
}
.driver-2{
    width:50%;
    height:100%;
    text-align:center;
}
/*Did it like this cause conflict with others images*/
.driver-1 img{
    width:80%;
    height:100%;
}
.driver-2 img{
    width:80%;
    height:100%;
}
.layer{
    width:50%;
    height:50%;
    position:absolute;
    top:0;
}
.layer:hover{
    background-color:black;
    opacity:.5;
}
.jumbotron h2{
    font-family: 'Racing Sans One', cursive;
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    letter-spacing: 2px;
} 
.jumbotron span{
    font-size: 6rem;
}


#cars{
    text-align: center;
    margin-bottom: 10rem;
}
#cars .btn{
    padding: .5rem 1rem;
}
.carouselContainer {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.carouselImgs {
    width: 100%;
    height: 100%;
    animation: fade 1.5s;
    display: none;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.prev, .next {
    position: absolute;
    top: 49%;
    cursor: pointer
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
.driver{
      display: flex;
      width:100%;
      height:100%;
}
.driver img{
      width: 400px;
      height:500px;
      padding-right:.5rem;
    
}
.driver-name h1{
      font-size: 3rem;
      color:#fff;
      padding-left:.5rem;
}
.driver-name span{
      font-size:5rem;
}

.logos{
    margin-top: 10rem;
    height: 70vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logos img{
    width: 150px;
    margin: 1rem;
}
.footer{
    padding: 0 2rem;
    width: 100%;
    display: flex;
}
.footer .start{
    width: 20%;
    font-weight: 700;
}
.footer .end{
    width: 80%;
}
.footer .end ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}
.footer .end ul li{
    margin: 0 .5rem;
    cursor: pointer;
    border-bottom: 2px solid #000;
}
.footer .end ul li:hover{
    border-bottom: 2px solid #fff;
}

/* Responsive. */
@media screen and (max-width: 800px) {
    .track{
        height: 500px;
        width: 350px;
    }
    .driver{
        display:flex;
        flex-wrap:wrap;
    }
    .driver{
       order:1;
    }
    .driver-name h1{
        display:none;
    }
    .jumbotron p{
        width:100%;
    }
    #drivers{
        display:flex;
        flex-wrap:wrap;
    }
    .driver-1, .driver-2{
        width:100%;
        height:100%;
    }
    .logos{
        margin-top:5rem;
    }
    .logo{
        margin: 0;
    }
    .logos img{
        width: 100px;
    }
    .carouselContainer {
        margin-bottom: 0;
        height: 50%;
    }
    #cars{
        margin: 5rem 0;
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .footer .end{
        order: 1;
        width: 100%;
        text-align: center;
        display: flex;
    }
    .footer .start{
        order: 2;
        width: 100%;
    }
    .footer .end ul{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .footer .end ul li{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        justify-content: center;
    }
    .footer .end ul li:hover{
        transition: 1s;
    }
    .box{
        display:flex;
        flex-wrap:wrap;
    }
    .left, 
    .right{
        width:100%;
        height:100%;
    }
    .left form{
        width:100%;
        height:100%;
    }
    .right{
       order: 1; 
    }
    .left{
        order: 2;
    }
    .right img{
        width:70%;
    }
}
